@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

* {
    margin: 0;
    padding: 0;
}

#root {
    font-family: 'Sono', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.body-dark {
    background-color: #024b30;
}

.navbar-brand {
    font-family: 'Labrada', serif;
}



.nr:hover {
    color: red;
}

.ng:hover {
    color: #198754;
}

.colsNote {
    flex: 0 0 auto;
    width: 22%;
}

.fonts {
    font-size: 1.5rem;
    font-weight: bold
}


.addBtn {
    border-radius: 50%;
    margin-top: -1.5rem;
    margin-right: 1rem;
}

.footer {
    background-color: #198754;
    padding: 0.5rem;
    color: white;
}

.footer-dark {
    background-color: rgb(33, 37, 41);
}

.jse {
    display: flex;
    justify-content: end;
}

.jsc {
    display: flex;
    justify-content: start;
}

.hover:hover {
    color: #004182;

}

.wd {
    width: 50%;
}

.white-dark {
    color: #fff;
}

.bgwhite-dark {
    background: #146c43;
    color: #fff;
}

.rd {
    border-radius: 0.375rem;
    height: fit-content;
}

@media (max-width:992px) {
    .colsNote {
        flex: 0 0 auto;
        width: 30%;
    }
}

@media (max-width:768px) {
    .colsNote {
        margin-left: 1rem;
        flex: 0 0 auto;
        width: 42%;
    }


    .fonts {
        font-size: 1rem;
        font-weight: bold
    }


    .jse {
        justify-content: center;
    }

    .jsc {
        justify-content: center;
    }
}

@media (max-width:540px) {
    .colsNote {
        flex: 0 0 auto;
        width: 90%;

    }

    .wd {
        width: 75%;
    }

    .addBtn {
        border-radius: 50%;
        margin-top: -1.5rem;
        margin-right: -2.7rem;
    }
}